<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--==================== UNICONS ====================-->
        
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
        
        <!--==================== SWIPER CSS ====================-->
        <link rel="stylesheet" href="">
        
        <!--==================== CSS ====================-->
        <link rel="stylesheet" href="../assets/css/styles2.css">

        <title>
            Mansão Assombrada - Brunna  de Jesus Bettini
        </title>
    </head>
    <body>
        <!--==================== HEADER ====================-->
        <header class="header" id="header">
          <nav class="nav container">
                <a href="../index.html">
                    <img href="#home" src="../assets/img/logo.png" class="nav__logo">
                </a>
            
              <div class="nav__menu" id="nav-menu">
                <ul class="nav__list grid">
                    <li class="nav__item">
                        <a href="../index.html#home" class="nav__link">
                          <i class="uil uil-estate nav__icon"></i> Home
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="../index.html#about" class="nav__link">
                            <i class="uil uil-user nav__icon"></i> Sobre Mim
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="../index.html#projects" class="nav__link">
                            <i class="uil uil-scenery nav__icon"></i> Projetos
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="../index.html#contact" class="nav__link"> 
                            <i class="uil uil-message nav__icon"></i> Contato
                        </a>
                    </li>
                    <li class="nav__social">
                        <a href="https://www.linkedin.com/in/brunna-de-jesus-bettini-a3b164231/" 
                        class="nav__social_icon" target="_blank">
                            <i class="uil uil-linkedin nav__icon"></i> Linkedin
                        </a>
                    </li>
                    <li class="nav__social">
                        <a href="https://github.com/brunnabettini" class="nav__social_icon" target="_blank">
                            <i class="uil uil-github nav__icon"></i> Github
                        </a>
                    </li>
                </ul>
                  <i class="uil uil-times-circle nav__close" id="nav-close"></i>
              </div>
              <div class="nav__btns">
                  <div class="nav__toggle" id="nav-toggle">
                    <i class="uil uil-list-ul"></i>
                  </div>
              </div>
          </nav>
        </header>
        <!--==================== MAIN ====================-->
        <main>
            <section class="section" id="projeto">
                <div class="container">
                    <div class="botao__voltar">
                        <a href="../index.html" > < Voltar</a>
                    </div>
                    <div class="projects__text">
                        <div class="grande__img" css="">
                            <img class="aha"src="../assets/img/Mansao Assombrada.jpg"  alt="imagem projeto Mansão Assombrada">
                        </div>
                        <div class="container-border projects__info">
                            <div class="projects__text"> 
                                <h2 class="section__title">Mansão Assombrada</h2>
                                <div class="projects__extra">
                                    <p>html / css javascript</p>
                                    <div class="horizontal-line-extra-2"></div>
                                    <p>Jogo</p>
                                </div> 
                            </div>
                            <div>
                                <p class="about__text">
                                    Este projeto foi desenvolvido durante as disciplinas de Práticas de Design e Padrões e Projetos de Sítios para Internet 2, 
                                    ministradas pelo Professor Leonardo Souza de Lima no curso de Sistemas para Internet da Fatec Araras, com o objetivo de 
                                    aplicar os conceitos de design e programação em conteúdos web.
                                </p>
                                <p class="about__text">
                                    A indústria de jogos eletrônicos tem experimentado um notável crescimento e se tornado cada vez mais presente
                                     na vida das pessoas. Com a capacidade de publicar jogos gratuitamente em diversas plataformas, os 
                                     desenvolvedores encontram uma oportunidade para aprimorar suas habilidades em programação, simultaneamente 
                                     disponibilizando os jogos para avaliação pelo público. 
                                </p>
                                <p class="about__text">
                                    A proposta consistia em criar um jogo de terror que posteriormente seria apresentado em uma 
                                    exposição na FATEC, permitindo que os visitantes o experimentassem. Cada estudante foi encarregado 
                                    de um cômodo da Mansão Assombrada, proporcionando-lhes a chance de explorar a criatividade ao 
                                    desenvolverem fases usando HTML, CSS e Javascript.
                                </p>
                                <div class="">
                                    <a href="https://github.com/brunnabettini/mansao_assombrada.git" target="_blank" class="button-form button--flex">Visualizar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!--==================== FOOTER ====================-->
        <footer class="footer">
            <div class="footer__data">
                    <p>&#169; 2023 - Copyright - Desenvolvido por Brunna de Jesus Bettini</p>
            </div>
        </footer>

        <!--==================== SWIPER JS ====================-->
        <script src=""></script>

        <!--==================== MAIN JS ====================-->
        <script src="assets/js/main.js"></script>
    </body>
</html>

