<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--==================== UNICONS ====================-->
        
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
        
        <!--==================== SWIPER CSS ====================-->
        <link rel="stylesheet" href="">
        
        <!--==================== CSS ====================-->
        <link rel="stylesheet" href="../assets/css/styles2.css">

        <title>
            Oferta Quente - Brunna  de Jesus Bettini
        </title>
    </head>
    <body>
        <!--==================== HEADER ====================-->
        <header class="header" id="header">
          <nav class="nav container">
                <a href="../index.html">
                    <img href="#home" src="../assets/img/logo.png" class="nav__logo">
                </a>
            
              <div class="nav__menu" id="nav-menu">
                <ul class="nav__list grid">
                    <li class="nav__item">
                        <a href="../index.html#home" class="nav__link">
                          <i class="uil uil-estate nav__icon"></i> Home
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="../index.html#about" class="nav__link">
                            <i class="uil uil-user nav__icon"></i> Sobre Mim
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="../index.html#projects" class="nav__link">
                            <i class="uil uil-scenery nav__icon"></i> Projetos
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="../index.html#contact" class="nav__link"> 
                            <i class="uil uil-message nav__icon"></i> Contato
                        </a>
                    </li>
                    <li class="nav__social">
                        <a href="https://www.linkedin.com/in/brunna-de-jesus-bettini-a3b164231/" 
                        class="nav__social_icon" target="_blank">
                            <i class="uil uil-linkedin nav__icon"></i> Linkedin
                        </a>
                    </li>
                    <li class="nav__social">
                        <a href="https://github.com/brunnabettini" class="nav__social_icon" target="_blank">
                            <i class="uil uil-github nav__icon"></i> Github
                        </a>
                    </li>
                </ul>
                  <i class="uil uil-times-circle nav__close" id="nav-close"></i>
              </div>
              <div class="nav__btns">
                  <div class="nav__toggle" id="nav-toggle">
                    <i class="uil uil-list-ul"></i>
                  </div>
              </div>
          </nav>
        </header>
        <!--==================== MAIN ====================-->
        <main>
            <section class="section" id="projeto">
                <div class="container">
                    <div class="botao__voltar">
                        <a href="../index.html" > < Voltar</a>
                    </div>
                    <div class="projects__text">
                        <div class="grande__img" css="">
                            <img class="aha"src="../assets/img/Oferta Quente.jpg"  alt="imagem projeto oferta quente">
                        </div>
                        <div class="container-border projects__info">
                            <div class="projects__text"> 
                                <h2 class="section__title">Oferta Quente</h2>
                                <div class="projects__extra">
                                    <p>Figma</p>
                                    <div class="horizontal-line-extra"></div>
                                    <p>Design</p>
                                </div> 
                            </div>
                            <div>
                                <p class="about__text">
                                    Este projeto foi desenvolvido em ambiente de estudo da FATEC Antônio Brambilla durante o período de aula 
                                    como projeto avaliativo disciplinar para a disciplina Projeto de Navegação e Iteração, mestrada pelo 
                                    professor e coordenador de curso Leonardo de Souza Lima. O objetivo é colocar em prática todos os métodos e 
                                    processos ensinados e demonstrados durante as aulas, utilizando de plataformas gratuitas como o Figma e o 
                                    aplicativo Marvel para sua construção. 
                                </p>
                                <p class="about__text">
                                    Em um contexto em que as pessoas gastam parte de seu tempo e energia no trabalho, realizar as compras de 
                                    casa sejam elas pequenas e corriqueiras ou grandes compras mensais planejadas pode-se tornar uma tarefa 
                                    desgastante, especialmente quando realizada apenas por uma pessoa. Não bastasse o desgaste, a crise na qual 
                                    o país se encontra pós pandemia covid-19 elevou os custos de produtos básicos para a maior parte da 
                                    população brasileira, levando-os assim a selecionar criteriosamente o quê e onde comprar ao realizar mercado. Neste cenário o Oferta Quente é um aplicativo planejado para atender, na região de Araras, jovens ou donas de casa que são responsáveis pelas compras de casa, auxiliando-os a encontrar as melhores ofertas da região e planejar lista de compras, assim otimizando os custos e o tempo gasto para realizar estas tarefas.
                                </p>
                                <div class="">
                                    <a href="https://www.figma.com/design/FOQpilIInMDd5xoXqFu717/Oferta-Quente?node-id=0-1&t=5QbYQlpNKQuQuvh3-1" target="_blank" class="button-form button--flex">Visualizar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!--==================== FOOTER ====================-->
        <footer class="footer">
            <div class="footer__data">
                    <p>&#169; 2023 - Copyright - Desenvolvido por Brunna de Jesus Bettini</p>
            </div>
        </footer>

        <!--==================== SWIPER JS ====================-->
        <script src=""></script>

        <!--==================== MAIN JS ====================-->
        <script src="assets/js/main.js"></script>
    </body>
</html>

