<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--==================== UNICONS ====================-->
        
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
        
        <!--==================== SWIPER CSS ====================-->
        <link rel="stylesheet" href="">
        
        <!--==================== CSS ====================-->
        <link rel="stylesheet" href="../assets/css/styles2.css">

        <title>
            Têxtil Dream - Brunna  de Jesus Bettini
        </title>
    </head>
    <body>
        <!--==================== HEADER ====================-->
        <header class="header" id="header">
          <nav class="nav container">
                <a href="../index.html">
                    <img href="#home" src="../assets/img/logo.png" class="nav__logo">
                </a>
            
              <div class="nav__menu" id="nav-menu">
                <ul class="nav__list grid">
                    <li class="nav__item">
                        <a href="../index.html#home" class="nav__link">
                          <i class="uil uil-estate nav__icon"></i> Home
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="../index.html#about" class="nav__link">
                            <i class="uil uil-user nav__icon"></i> Sobre Mim
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="../index.html#projects" class="nav__link">
                            <i class="uil uil-scenery nav__icon"></i> Projetos
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="../index.html#contact" class="nav__link"> 
                            <i class="uil uil-message nav__icon"></i> Contato
                        </a>
                    </li>
                    <li class="nav__social">
                        <a href="https://www.linkedin.com/in/brunna-de-jesus-bettini-a3b164231/" 
                        class="nav__social_icon" target="_blank">
                            <i class="uil uil-linkedin nav__icon"></i> Linkedin
                        </a>
                    </li>
                    <li class="nav__social">
                        <a href="https://github.com/brunnabettini" class="nav__social_icon" target="_blank">
                            <i class="uil uil-github nav__icon"></i> Github
                        </a>
                    </li>
                </ul>
                  <i class="uil uil-times-circle nav__close" id="nav-close"></i>
              </div>
              <div class="nav__btns">
                  <div class="nav__toggle" id="nav-toggle">
                    <i class="uil uil-list-ul"></i>
                  </div>
              </div>
          </nav>
        </header>
        <!--==================== MAIN ====================-->
        <main>
            <section class="section" id="projeto">
                <div class="container">
                    <div class="botao__voltar">
                        <a href="../index.html" > < Voltar</a>
                    </div>
                    <div class="projects__text">
                        <div class="grande__img" css="">
                            <img class="aha"src="../assets/img/Textil Dream.png"  alt="imagem projeto Têxti Dream">
                        </div>
                        <div class="container-border projects__info">
                            <div class="projects__text"> 
                                <h2 class="section__title">Têxtil Dream</h2>
                                <div class="projects__extra">
                                    <p>Figma</p>
                                    <div class="horizontal-line-extra"></div>
                                    <p>Design</p>
                                </div> 
                            </div>
                            <div>
                                <p class="about__text">
                                    Este projeto foi desenvolvido em conjunto com o aluno David dos Santos Macedo em ambiente de estudo da FATEC 
                                    Antônio Brambilla como projeto avaliativo disciplinar. A proposta consistia em desenvolver um novo modelo
                                    de negócio com ênfase na presença digital, analisar o contexto atual do comércio e empregar ferramentas utilizadas 
                                    no processo de estabelecimento de empresas, como o marketing e business model canva.
                                </p>
                                <p class="about__text">
                                    As essenciais. Uma das áreas que mais se beneficiou e se adaptou a essas novas oportunidades foi o comércio, que 
                                    agora tem a capacidade de expandir-se para novos espaços e alcançar públicos anteriormente incacessíveis. O comércio
                                    eletrônico ganhou popularidade globalmente especialmente após a pandemia de 2019, neste período muitas pessoas não 
                                    apenas se sentiram à vontade para fazer compras online, mas também reimaginaram e adaptaram seus negócios, tanto 
                                    novos quanto antigos, ao ambiente digital.
                                </p>
                                <p class="about__text">
                                    Reconhecendo o vasto potencial e a relevância atual do comércio eletrônico, foi idealizado o 
                                    Têxtil Dream, um novo empreendimento que proporciona aos clientes a oportunidade de personalizar 
                                    produtos de cama, roupa e banho por meio de uma plataforma digital.
                                </p>
                                <div class="">
                                    <a href="https://www.figma.com/design/xVSF3G8r3Fhp6uodKu68L0/Layout-Cama%2FMesa%2FBanho?node-id=0-1&t=NAYvpGU9omyQSFhM-1" target="_blank" class="button-form button--flex">Visualizar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!--==================== FOOTER ====================-->
        <footer class="footer">
            <div class="footer__data">
                    <p>&#169; 2023 - Copyright - Desenvolvido por Brunna de Jesus Bettini</p>
            </div>
        </footer>

        <!--==================== SWIPER JS ====================-->
        <script src=""></script>

        <!--==================== MAIN JS ====================-->
        <script src="assets/js/main.js"></script>
    </body>
</html>

